<div>
    <h3>{{label}}</h3>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-form-field" appearance="standard">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" autocomplete="off" formControlName="phoneNumber">
        </mat-form-field>
        <mat-error style="color: red; font-size: 12px;" *ngIf="!inputForm.valid">
            Please enter a valid phone number
        </mat-error>

        <div>
            <button mat-raised-button type="submit" color="primary" style="width: 50%; margin-top: 30px;" [disabled]="!inputForm.valid">
                Selanjutnya
            </button>
        </div>
    </form>
</div>