<div>
    <h3>{{label}}</h3>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-form-field" appearance="standard">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="name">
        </mat-form-field>
        <mat-error style="color: red; font-size: 12px;" *ngIf="!inputForm.valid">
            Please enter a valid name <br> (min. length (1) and max. length (50))
        </mat-error>

        <div>
            <button mat-raised-button type="submit" color="primary" style="width: 50%; margin-top: 30px;" [disabled]="!inputForm.valid">
                Selanjutnya
            </button>
        </div>
    </form>
</div>