<div>
    <h3>{{label}}</h3>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>&nbsp;
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>          
        <mat-error style="color: red; font-size: 12px; margin-top: 20px;" *ngIf="!inputForm.valid">
            Please choose gender
        </mat-error>

        <div>
            <button mat-raised-button type="submit" color="primary" style="width: 50%; margin-top: 30px;" [disabled]="!inputForm.valid">
                Selanjutnya
            </button>
        </div>
    </form>
</div>