<div>
  <div style="text-align: center; padding-top: 25vh; padding-left: 20px; padding-right: 20px;" *ngIf="index <= 4">

    <ng-container *ngIf="index == 0">
      <app-input-name (dataInput)="getDataInputName($event)"></app-input-name>
    </ng-container>

    <ng-container *ngIf="index == 1">
      <app-input-email (dataInput)="getDataInputEmail($event)"></app-input-email>
    </ng-container>

    <ng-container *ngIf="index == 2">
      <app-input-gender (dataInput)="getDataInputGender($event)"></app-input-gender>
    </ng-container>

    <ng-container *ngIf="index == 3">
      <app-input-phone-number (dataInput)="getDataInputPhoneNumber($event)"></app-input-phone-number>
    </ng-container>

    <ng-container *ngIf="index == 4">
      <app-input-address (dataInput)="getDataInputAddress($event)"></app-input-address>
    </ng-container>

  </div>

  <div style="padding-top: 60px;" *ngIf="index == 5">
    <h3 style="text-align: center; margin-bottom: 50px;">
      Selamat, <br>
      Anda Telah Selesai.
    </h3>

    <div style="padding-left: 30px; padding-right: 30px; padding-bottom: 20px;" *ngFor="let item of formValue; let i = index">

      <div style="display: inline;">
        Pertanyaan {{i+1}}
      </div>
      <div style="display: inline;">
        <span style="padding-left: 20px;">:</span> {{item.question}}
      </div> <br>
      <div style="display: inline;">
        Jawab {{i+1}}
      </div>
      <div style="display: inline;">
        <span style="padding-left: 55px;">:</span> {{item.value}}
      </div>
    </div>

  </div>
</div>


<!-- <router-outlet></router-outlet> -->